node_modules
**/**/dist/*.wav
**/**/dist/*.mp3
**/**/.cache
demo/dist
**/**/samples/piano
**/**/samples/harp
**/**/samples/drummer
**/**/samples/MetronomeUp.wav
.vscode

legacy.md

docs

songs
samples